fastapi
uvicorn[standard]
sqlalchemy
pydantic
scikit-learn
xgboost
joblib
numpy
pandas
openpyxl
python-multipart
psycopg2-binary
pgvector
sentence-transformers
python-jose[cryptography]
passlib[bcrypt]
